p,
a,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: #3C3C3C;
    letter-spacing: 1px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #3C3C3C
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

br {
    margin: 10px;
    position: fixed;
}


/* Header start */
header {
    max-width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-block: 20px;
    max-height: 60px;
    padding-inline: 10px;
    align-items: center;
}


.language-switcher {
    display: flex;
    justify-content: right;
    font-weight: bold;
    padding: none;
}

/*Header + Footer*/
.header-links a,
.language-switcher a,
.footer-links a {
    color: #3C3C3C;
    justify-content: center;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
    max-width: 90%;
}

.header-container,
.footer-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding-top: 10px;
    max-height: 60px;
    padding-bottom: 25px;

}

.header-links a:hover,
.language-switcher a:hover,
.footer-links a:hover {
    text-decoration: underline;
    text-decoration-color: #EE202D;
}

.footer-logo img,
.header-logo img {
    height: 70px;
}

/*Dropdown Menu*/
.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;

}

.dropdown:hover .dropdown-menu {
    display: block;
}





.Tekstbokse {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
}

.Tekstbokse h2 {
    justify-self: center;
}

.tekst {
    border: #EE202D solid 2px;
    padding: 20px;
    max-width: 250px;
    align-items: center;
}

.budoregler {
    padding-bottom: 20px;
}

.budo {
    font-size: 20px;
    justify-self: center;
    max-width: 800px;
    width: 100%;
    padding-inline: 10px;
}

h1 {
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 4px;
    justify-self: center;
    margin: 20px;
    padding-top: 20px;
    letter-spacing: 4px;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline 1px #3C3C3C;
    box-sizing: border-box;
    text-underline-offset: 6px;
    justify-self: center;
}

h3 a:hover {
    color: #EE202D;
    box-shadow: inset 0 0 0 2px #EE202D;
    padding: 10px;
    font-weight: bold;
    text-decoration: underline 1px #EE202D;
    text-underline-offset: 6px;
}




/*Footer Start*/
footer {
    width: 100%;
    background-color: #FFFFFF;
    max-height: 70px;
    padding-top: 50px;
    padding-inline: 10px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;

}

.footer-text {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
}


@media (min-width:600px)and (max-width:1270px) {
    .Tekstbokse {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-block: 20px;

    }

    .tekst {
        border: #EE202D solid 2px;
        margin: 40px;
        max-width: 400px;
        align-items: center;
        gap: 10px;

    }

    h3 {
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline 1px #3C3C3C;
        margin: 40px;
        box-sizing: border-box;
        text-underline-offset: 6px;
    }

    h3 a:hover {
        color: #EE202D;
        box-shadow: inset 0 0 0 2px #EE202D;
        padding: 10px;
        font-weight: bold;
        text-decoration: underline 1px #EE202D;
        text-underline-offset: 6px;
    }
}

@media (max-width:700px) {
    .Tekstbokse {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px;
        margin-block: 0px;


    }

    .tekst {
        border: #EE202D solid 2px;
        margin: 30px;
        max-width: 80%;
        align-items: center;
        gap: 10px;

    }

    h1 {
        font-size: 20px;
        text-decoration: none;
        margin: 5px;
        letter-spacing: 4px;
    }

    h2 {
        font-size: 18px;
        font-weight: bold;
        box-sizing: border-box;
        text-underline-offset: 6px;
    }

    h3 {
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline 1px #3C3C3C;
        margin: 40px;
        box-sizing: border-box;
        text-underline-offset: 6px;
        justify-self: center;
    }

    h3 a:hover {
        color: #EE202D;
        box-shadow: inset 0 0 0 2px #EE202D;
        padding: 10px;
        font-weight: bold;
        text-decoration: underline 1px #EE202D;
        text-underline-offset: 6px;
    }

    p,
    .budo {
        font-size: 12px;
        padding: 10px;
    }
}