p,
a,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: #3C3C3C;
    letter-spacing: 1px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #3C3C3C
}

/* Header start */
header {
    width: 100%;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 70px;
    padding-bottom: 25px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    max-width: 100%;
    padding: 20px 20px;
    max-height: 60px;

}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;

}

/*Header+Footer*/
.language-switcher {
    display: flex;
    align-items: right;
    gap: 10px;
    font-weight: bold;
}

.header-links a,
.language-switcher a,
.footer-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.header-links a:hover,
.language-switcher a:hover,
.footer-links a:hover {
    text-decoration: underline;
    text-decoration-color: #EE202D;
}

.footer-logo img,
.header-logo img {
    height: 60px;
}









/*Start dit indhold her*/










/*Footer*/
footer {
    width: 100%;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 70px;
    padding-top: 50px;

}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;
    padding-right: 144.5px;

}

.footer-text {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    max-width: 100%;
    padding: 20px 20px 0px 20px;
    max-height: 60px;
}