.Tekstbokse {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;

}

.Tekstbokse h2 {
    justify-self: center;
}

.tekst {
    border: #EE202D solid 2px;
    padding: 20px;
    max-width: 250px;
    align-items: center;
}

.budoregler {
    padding-bottom: 20px;
}

.budo {
    font-size: 20px;
    justify-self: center;
    max-width: 800px;
    width: 100%;
    padding-inline: 10px;
}

h1 {
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 4px;
    justify-self: center;
    margin: 20px;
    padding-top: 20px;
    letter-spacing: 4px;
}

h3 {
    padding-top: 30px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline 1px #3C3C3C;
    box-sizing: border-box;
    text-underline-offset: 6px;
    justify-self: center;
}

h3 a:hover {
    color: #EE202D;
    box-shadow: inset 0 0 0 2px #EE202D;
    padding: 20px;
    font-weight: bold;
    text-decoration: underline 1px #EE202D;
    text-underline-offset: 6px;
}

@media (min-width:600px)and (max-width:1270px) {
    .Tekstbokse {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-block: 20px;

    }

    .tekst {
        border: #EE202D solid 2px;
        margin: 40px;
        max-width: 400px;
        align-items: center;
        gap: 10px;

    }

    h3 {
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline 1px #3C3C3C;
        margin: 40px;
        box-sizing: border-box;
        text-underline-offset: 6px;
    }

    h3 a:hover {
        color: #EE202D;
        box-shadow: inset 0 0 0 2px #EE202D;
        padding: 10px;
        font-weight: bold;
        text-decoration: underline 1px #EE202D;
        text-underline-offset: 6px;
    }
}

@media (max-width:700px) {
    .Tekstbokse {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px;
        margin-block: 0px;


    }

    .tekst {
        border: #EE202D solid 2px;
        margin: 30px;
        max-width: 80%;
        align-items: center;
        gap: 10px;

    }

    h1 {
        font-size: 20px;
        text-decoration: none;
        margin: 5px;
        letter-spacing: 4px;
    }

    h2 {
        font-size: 18px;
        font-weight: bold;
        box-sizing: border-box;
        text-underline-offset: 6px;
    }

    h3 {
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline 1px #3C3C3C;
        margin: 40px;
        box-sizing: border-box;
        text-underline-offset: 6px;
        justify-self: center;
    }

    h3 a:hover {
        color: #EE202D;
        box-shadow: inset 0 0 0 2px #EE202D;
        padding: 10px;
        font-weight: bold;
        text-decoration: underline 1px #EE202D;
        text-underline-offset: 6px;
    }

    p,
    .budo {
        font-size: 12px;
        padding: 10px;
    }
}