p,
a,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

/* Header start */
header {
    width: 100%;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 70px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    max-width: 100%;
    padding: 20px 20px;
    max-height: 60px;

}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;

}

/*Header slut*/

/*Header+Footer Start*/
.language-switcher {
    display: flex;
    align-items: right;
    gap: 10px;
    font-weight: bold;
}

.header-links a,
.language-switcher a,
.footer-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.header-links a:hover,
.language-switcher a:hover,
.footer-links a:hover {
    text-decoration: underline;
    text-decoration-color: #EE202D;
}

.footer-logo img,
.header-logo img {
    height: 60px;
}

/*Header+Footer slut*/

/*header-banner*/
.header-banner {
    width: 100%;
    max-height: 700px;
    justify-content: center;
}

/*header-banner slut*/

#introteksten {
    width: 500px;
    border: 15px solid rgb(255, 255, 255);
    padding: 50px;
    margin: 20px;
    justify-self: center;
}

/*Footer Start*/
footer {
    width: 100%;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 70px;
    padding-right: 144px;

}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;
    padding-right: 144.5px;

}

.footer-text {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    max-width: 100%;
    padding: 20px 20px 0px 20px;
    max-height: 60px;
}

/*Footer slut*/