/*Hero*/
.header-banner {
    width: 100%;
    max-height: 290px;
    justify-content: center;
}

#introteksten {
    max-width: 540px;
    width: 100%;
    padding: 60px;
    margin: 20px;
    justify-self: center;
}

/*Selvforsvarskursus*/
.selvforsvarskursus {
    justify-items: center;
    text-align: center;

}

h1 {
    font-size: 30px;
    text-decoration: none;
    margin: 20px;
    padding-top: 20px;
    letter-spacing: 4px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline 1px #3C3C3C;
    margin: 40px;
    box-sizing: border-box;
    text-underline-offset: 6px;
}

h2 a:hover {
    color: #EE202D;
    box-shadow: inset 0 0 0 2px #EE202D;
    padding: 20px;
    font-weight: bold;
    text-decoration: underline 1px #EE202D;
    text-underline-offset: 6px;
}

p.utryg {
    font-size: 18px;
    justify-self: center;
    text-align: center;
}

/*Forside billeder*/
.billeder-på-forsiden {
    display: flex;
    padding: 40px;
    justify-content: center;
    max-width: 100%;
    align-items: center;
}

/*Tekst om klubben*/
p.klubben {
    justify-self: center;
    max-width: 800px;
    width: 100%;
    padding-bottom: 20px;

}

h1.To-niveauer {
    font-size: 30px;
    text-decoration: none;
    margin: 20px;
    padding-top: 20px;
    letter-spacing: 4px;
    justify-self: center;
    text-align: center;
}

button {
    font-weight: bold;
    display: flex;
    color: var(--blackOlive);
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    height: 50px;
    margin-block: 30px;
    align-items: center;
    justify-self: center;
}

button:hover {
    background-color: #EE202D;
    color: #FFFFFF;
}

.hold-tilmeld {
    justify-self: center;
    display: flex;

}

img.begynderhold {
    display: block;
    justify-self: center;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 40%;
}

h2 {
    font-size: 24px;
    justify-self: center;
    font-weight: bold;
    text-decoration: underline 1px #3C3C3C;
    box-sizing: border-box;
    text-underline-offset: 6px;
}


/*Media quaries*/

@media (max-width: 1300px) and (min-width: 1000px) {

    #billede-2,
    #billede-3 {
        display: block;
        align-items: center;
    }

    #billede-2 {
        display: none;
        align-items: center;
    }

    .header-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0;
        margin: 0;
        list-style: none;
    }



}

@media (max-width:1000px) and (min-width:600px) {

    /* Header start */




    /*Forside billeder*/
    #billede-2,
    #billede-1 {
        display: none;

    }

    #billede-3 {
        display: block;
        align-items: center;
    }

}

@media (max-width: 600px) {

    h1 {
        font-size: 20px;
        text-decoration: none;
        margin: 5px;
        letter-spacing: 4px;
    }

    h3 {
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline 1px #3C3C3C;
        margin: 40px;
        box-sizing: border-box;
        text-underline-offset: 6px;
    }

    h3 a:hover {
        color: #EE202D;
        box-shadow: inset 0 0 0 2px #EE202D;
        padding: 10px;
        font-weight: bold;
        text-decoration: underline 1px #EE202D;
        text-underline-offset: 6px;
    }

    #introteksten {
        max-width: 340px;
        width: 100%;
        margin: 5px;
        justify-self: center;
        font-size: 12px;
    }

    p,
    p.utryg,
    p.klubben {
        font-size: 12px;
        padding: 0 15px;
    }

    #billede-2,
    #billede-1 {
        display: none;

    }

    #billede-3 {
        display: block;
        align-items: center;
    }

    .billeder-på-forsiden {
        display: flex;
        padding: 40px;
        justify-content: center;
        max-width: 100%;
        align-items: center;
    }
}