p,
a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Montserrat', sans-serif;
    color: #3C3C3C;
    letter-spacing: 1px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #3C3C3C
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

br {
    margin: 10px;
    position: fixed;
}

/* Header start */
header {
    max-width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-block: 20px;
    max-height: 60px;
    padding-inline: 10px;
    align-items: center;
}


.language-switcher {
    display: flex;
    justify-content: right;
    font-weight: bold;
    padding: none;
}

/*Header + Footer*/
.header-links a,
.language-switcher a,
.footer-links a {
    color: #3C3C3C;
    justify-content: center;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
    max-width: 90%;
}

.header-container,
.footer-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding-top: 10px;
    max-height: 60px;
    padding-bottom: 25px;

}

.header-links a:hover,
.language-switcher a:hover,
.footer-links a:hover {
    text-decoration: underline;
    text-decoration-color: #EE202D;
}

.footer-logo img,
.header-logo img {
    height: 70px;
}

/*Dropdown Menu*/
.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;

}

.dropdown:hover .dropdown-menu {
    display: block;
}




/*Hero*/

.header-banner {
    width: 100%;
    max-height: 290px;
    justify-content: center;
}

#introteksten {
    max-width: 540px;
    width: 100%;
    padding: 60px;
    margin: 20px;
    justify-self: center;
}



/*Selvforsvarskursus*/
.selvforsvarskursus {
    justify-items: center;
    text-align: center;

}

h1 {
    font-size: 30px;
    text-decoration: none;
    margin: 20px;
    padding-top: 20px;
    letter-spacing: 4px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline 1px #3C3C3C;
    margin: 40px;
    box-sizing: border-box;
    text-underline-offset: 6px;
}

h2 a:hover {
    color: #EE202D;
    box-shadow: inset 0 0 0 2px #EE202D;
    padding: 20px;
    font-weight: bold;
    text-decoration: underline 1px #EE202D;
    text-underline-offset: 6px;
}

p.utryg {
    font-size: 18px;
    justify-self: center;
    text-align: center;
}



/*Forside billeder*/
.billeder-på-forsiden {
    display: flex;
    padding: 40px;
    justify-content: center;
    max-width: 100%;
    align-items: center;
}



/*Tekst om klubben*/
p.klubben {
    justify-self: center;
    max-width: 800px;
    width: 100%;
    padding-bottom: 20px;

}

h1.To-niveauer {
    font-size: 30px;
    text-decoration: none;
    margin: 20px;
    padding-top: 20px;
    letter-spacing: 4px;
    justify-self: center;
    text-align: center;
}

button {
    font-weight: bold;
    display: flex;
    color: var(--blackOlive);
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    height: 50px;
    margin-block: 30px;
    align-items: center;
    justify-self: center;
}

button:hover {
    background-color: #EE202D;
    color: #FFFFFF;
}


.hold-tilmeld {
    justify-self: center;
    display: flex;

}

img.begynderhold {
    display: block;
    justify-self: center;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 40%;
}

h2 {
    font-size: 24px;
    justify-self: center;
    font-weight: bold;
    text-decoration: underline 1px #3C3C3C;
    box-sizing: border-box;
    text-underline-offset: 6px;
}



/*Footer Start*/
footer {
    width: 100%;
    background-color: #FFFFFF;
    max-height: 70px;
    padding-top: 50px;
    padding-inline: 10px;

}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;

}

.footer-text {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
}






/*Media quaries*/

@media (max-width: 1300px) and (min-width: 1000px) {

    #billede-2,
    #billede-3 {
        display: block;
        align-items: center;
    }

    #billede-2 {
        display: none;
        align-items: center;
    }

    .header-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0;
        margin: 0;
        list-style: none;
    }



}

@media (max-width:1000px) and (min-width:600px) {

    /* Header start */


    /*Dropdown Menu*/
    .header-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    h2 a:hover {
        color: #EE202D;
        box-shadow: inset 0 0 0 2px #EE202D;
        font-weight: bold;
        text-decoration: underline 1px #EE202D;
        text-underline-offset: 6px;
    }

    /*Forside billeder*/
    #billede-2,
    #billede-1 {
        display: none;

    }

    #billede-3 {
        display: block;
        align-items: center;
    }


    /*Tekst om klubben*/



}

@media (max-width: 600px) {

    h1 {
        font-size: 20px;
        text-decoration: none;
        margin: 5px;
        letter-spacing: 4px;
    }

    h3 {
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline 1px #3C3C3C;
        margin: 40px;
        box-sizing: border-box;
        text-underline-offset: 6px;
    }

    h3 a:hover {
        color: #EE202D;
        box-shadow: inset 0 0 0 2px #EE202D;
        padding: 10px;
        font-weight: bold;
        text-decoration: underline 1px #EE202D;
        text-underline-offset: 6px;
    }

    #introteksten {
        max-width: 340px;
        width: 100%;
        margin: 5px;
        justify-self: center;
        font-size: 12px;
    }

    p,
    p.utryg,
    p.klubben {
        font-size: 12px;
        padding: 0 15px;
    }

    #billede-2,
    #billede-1 {
        display: none;

    }

    #billede-3 {
        display: block;
        align-items: center;
    }

    .billeder-på-forsiden {
        display: flex;
        padding: 40px;
        justify-content: center;
        max-width: 100%;
        align-items: center;
    }
}