p,
a,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: #3C3C3C;
    letter-spacing: 1px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #3C3C3C
}

br {
    margin: 10px;
    position: fixed;
}



/* Header start */
header {
    width: 100%;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 70px;
    padding-bottom: 25px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    max-width: 100%;
    padding: 20px 20px;
    max-height: 60px;

}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;

}




/*Header+Footer Start*/
.language-switcher {
    display: flex;
    align-items: right;
    gap: 10px;
    font-weight: bold;
}

.header-links a,
.language-switcher a,
.footer-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.header-links a:hover,
.language-switcher a:hover,
.footer-links a:hover {
    text-decoration: underline;
    text-decoration-color: #EE202D;
}

.footer-logo img,
.header-logo img {
    height: 60px;
}




/*Banner*/

.header-banner {
    width: 100%;
    max-height: 700px;
    justify-content: center;
}

#introteksten {
    max-width: 540px;
    width: 100%;
    border: 15px solid rgb(255, 255, 255);
    padding: 60px;
    margin: 20px;
    justify-self: center;
    font-size: 18px;
}



/*Selvforsvarskursus*/
.selvforsvarskursus {
    justify-items: center;
    text-align: center;

}

h1 {
    font-size: 30px;
    text-decoration: none;
    margin: 20px;
    padding-top: 20px;
    letter-spacing: 4px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline 1px #3C3C3C;
    margin: 40px;
    box-sizing: border-box;
    text-underline-offset: 6px;
}

h2 a:hover {
    color: #EE202D;
    box-shadow: inset 0 0 0 2px #EE202D;
    padding: 20px;
    font-weight: bold;
    text-decoration: underline 1px #EE202D;
    text-underline-offset: 6px;
}

p.utryg {
    font-size: 18px;
    justify-self: center;
    text-align: center;
}



/*Forside billeder*/
.billeder-på-forsiden {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 40px;
    padding-top: 50px;


}



/*Tekst om klubben*/
p.klubben {
    font-size: 20px;
    justify-self: center;
    max-width: 800px;
    width: 100%;

}

img.begynderhold {
    display: block;
    justify-self: center;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 500px;
}

h2 {
    font-size: 24px;
    justify-self: center;
    font-weight: bold;
    text-decoration: underline 1px #3C3C3C;
    box-sizing: border-box;
    text-underline-offset: 6px;
}



/*Footer Start*/
footer {
    width: 100%;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 70px;
    padding-top: 50px;

}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;
    padding-right: 144.5px;

}

.footer-text {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    max-width: 100%;
    padding: 20px 20px 0px 20px;
    max-height: 60px;
}