/* ===== HISTORIE SIDE ===== */

.historie {
    background-color: #f5f5f5;
}

.historie-side {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 25px;
    align-content: center;
}

/* HERO */
.historie-hero img {
    width: 100%;
    display: block;
}

/* CONTENT GRID */
.historie-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
}

/* TEKST */
.historie-tekst h1 {
    margin-bottom: 1.5rem;
}

.historie-tekst p {
    margin-bottom: 1rem;
    line-height: 1.7;
}

/* BILLEDER */
.historie-billede {
    width: 55%;
    border-radius: 2%;
}

/* FIGURER */
.figur-figur {
    display: flex;
    width: 55%;
    padding-bottom: 40px;
}

.figur-figur2 {
    display: flex;
    width: 55%;
}




/* ===== RESPONSIV ===== */
@media (max-width: 768px) {

    .historie-content {
        grid-template-columns: 1fr;
    }

    .historie-side {
        display: none;
    }

    .figur,
    .historie-billede {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}