/*Banner*/
.header-banner {
    width: 100%;
    max-height: 700px;
    justify-content: center;
}

h1 {
    justify-self: center;
    padding-bottom: 20px;
}

.vedtaegter {
    font-size: 26px;
    text-decoration: none;
    text-align: left;
    line-height: 2.5;

}

p {
    padding-left: 50px;
}

.summary {
    padding-left: 140px;
}

.Text-rum {
    margin-inline: 140px;

}

.klubben {
    font-size: 18px;
}

h2 {
    padding-top: 20px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline 1px #3C3C3C;
    box-sizing: border-box;
    text-underline-offset: 6px;
    justify-self: center;
}

h2 a:hover {
    color: #EE202D;
    box-shadow: inset 0 0 0 2px #EE202D;
    padding: 20px;
    font-weight: bold;
    text-decoration: underline 1px #EE202D;
    text-underline-offset: 6px;
}