/* ===== OM KLUBBEN ===== */


.om-billeder {
    display: flex;
    padding: 40px;
    justify-content: center;
    max-width: 100%;
    align-items: center;
}

section.om-hero {
    background-color: white;
    text-align: center;

}

.om-klubben {
    background: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.om-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.om-tekst {
    width: 100%;
    max-width: 800px;
    text-align: left;
}

.om-tekst h1,
.om-tekst h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.om-tekst p {
    margin-bottom: 1rem;
    line-height: 1.7;
}

/* ===== INSTRUKTØRER ===== */
.instruktoerer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

.instruktoer {
    text-align: center;
    font-size: 0.85rem;
}

.instruktoer img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 0.5rem;
    border-radius: 50%;
}

/* ===== BILLEDRÆKKE ===== */

.om-billeder {
    display: flex;
    padding: 40px;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    gap: 30px;
}

.om-billeder img {
    height: auto;
    display: block;
    height: 300px;
    border-radius: 1%;
}

.medlem1 {
    display: flex;

    display: flex;
    flex-wrap: wrap;
}

.page>* {
    padding: 1rem;
}



/* ===== RESPONSIV ===== */
@media (max-width: 768px) {
    .instruktoerer {
        flex-direction: column;
        /* instruktører vertikalt */
        align-items: center;
    }

    .om-billeder {
        grid-template-columns: 1fr;
        /* kun midterste billede vises */
    }

    .om-billeder img.desktop-hide {
        display: none;
    }
}