p,
a,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: #3C3C3C;
    letter-spacing: 1px;
    line-height: 1.7;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #3C3C3C
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

body {
    padding-top: 60px;
}

br {
    margin: 10px;
    position: fixed;
}


/* Header start */
header {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-block: 20px;
    max-height: 60px;
    padding-inline: 10px;
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: #3C3C3C solid 1px;
    z-index: 1;
}

img.header-banner {
    width: 90%;
    justify-content: center;
    background-color: white;
    padding-top: 40px;
}

section.om-hero {
    background-color: white;
    text-align: center;

}

.burger,
.globe {
    display: none;
    border: none;
    background-color: transparent;
    font-size: 40px;
    color: #3C3C3C;
}

.burgerclosed {
    display: none;

}

.burgeropen {
    display: block;

}


.language-switcher {
    display: flex;
    justify-content: right;
    font-weight: bold;
    padding: none;
}

/*Header + Footer*/
.header-links a,
.language-switcher a,
.footer-links a {
    color: #3C3C3C;
    justify-content: center;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
    max-width: 90%;
}

.header-container,
.footer-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    /*     max-height: 70px; */
    padding: 10px;
}

.header-links a:hover,
.language-switcher a:hover,
.footer-links a:hover {
    text-decoration: underline;
    text-decoration-color: #EE202D;
}

.footer-logo img,
.header-logo img {
    height: 70px;
}

/*Dropdown Menu*/
.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;

}

.dropdown:hover .dropdown-menu {
    display: block;
}

/*Footer Start*/
footer {
    width: 100%;
    background-color: #FFFFFF;
    /*     max-height: 70px; */
    /*     padding-top: 50px; */
    /*     padding-inline: 10px; */
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;

}

.footer-text {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 0;
}


@media (max-width: 768px) {
    .burger {
        display: block;
    }

    .globe {
        display: block;
    }

    .language-switcher {
        display: none;
    }

    .header-links {
        display: none;
    }

    /*klub-billeder*/

    #billede-2,
    #billede-1 {
        display: none;

    }

    #billede-3 {
        display: block;
        align-items: center;
    }

}