 footer {
     width: 100%;
     background-color: #FFFFFF;
     font-family: Arial, Helvetica, sans-serif;
 }

 .footer-logo img {
     height: 50px;
 }

 .footer-links a {
     color: black;
     text-decoration: none;
     font-weight: bold;
     display: flex;
     gap: 40px;
     margin: 0 auto;

 }

 .footer-links a:hover {
     text-decoration: underline;
     text-decoration-color: #EE202D;
 }

 .footer-text {
     background-color: black;
     color: white;
     text-align: center;
     padding: 8px 0;
 }

 .footer-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 20px;
 }